<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PPDB [SCHOOL_NAME]</title>
</head>
<style>
	table { border-collapse: collapse; }
</style>
<body>
	<table width="100%" border="0" cellpadding="3" cellspacing="0">
		<tbody>
			<tr>
				<td width="18%" align="center" valign="top">
					<img src="[LOGO]" width="90px">
				</td>
				<td width="60%" valign="top" align="left" valign="center">
					<br>
					<h1 style="line-height: 5em;">[SCHOOL_NAME]</h1>
					<p>[SCHOOL_STREET_ADDRESS]<br>
					Telp : [SCHOOL_PHONE] &sdot; Fax : [SCHOOL_FAX] &sdot; Kode Pos : [SCHOOL_POSTAL_CODE]<br>
					Email : [SCHOOL_EMAIL] &sdot; Website : [SCHOOL_WEBSITE]</p>
				</td>
                <td width="22%"></td>
			</tr>
		</tbody>
	</table>
	<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr><td></td></tr>
	</table>
    <table width="100%" border="1" cellpadding="8" cellspacing="0" style="border: 0.001em solid black;">
        <tr>
            <td width="50%" valign="center" align="left" style="font-size: 14px; font-weight: bold;">TANDA BUKTI PENDAFTARAN<br/>PENERIMAAN PESERTA DIDIK BARU<br/>TAHUN PELAJARAN [ACADEMIC_YEAR]
            </td>
            <td width="50%" align="center"><h1 style="font-size: 40px; font-family: Helvetica, Arial, sans-serif;">[REGISTRATION_NUMBER]</h1></td>
        </tr>
    </table>
	<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr><td></td></tr>
	</table>
    <table width="100%" border="1" cellpadding="6" cellspacing="0" style="border: 0.001em solid black;">
        <tr>
            <td colspan="4" style="font-weight: bold; font-size: 14px;" align="left">DATA REGISTRASI</td>
        </tr>
        <tr>
            <td align="center" width="25%" style="background-color: #dddddd; font-weight: bold;">Gelombang Pendaftaran</td>
            <td align="center" width="25%" style="background-color: #dddddd; font-weight: bold;">Jenis Pendaftaran</td>
            <td align="center" width="25%" style="background-color: #dddddd; font-weight: bold;">Jalur Pendaftaran</td>
            <td align="center" width="25%" style="background-color: #dddddd; font-weight: bold;">Tanggal Pendaftaran</td>
        </tr>
        <tr>
            <td align="center">[ADMISSION_PHASE]</td>
            <td align="center">[IS_TRANSFER]</td>
            <td align="center">[ADMISSION_TYPE]</td>
            <td align="center">[CREATED_AT]</td>
        </tr>
    </table>
	<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr><td></td></tr>
	</table>
	[MAJORS]
    <table width="100%" border="1" cellpadding="6" cellspacing="0" style="border: 0.001em solid black;">
        <tr>
            <td align="left" colspan="2" style="font-weight: bold; font-size: 14px;">BIODATA SISWA	</td>
        </tr>
        <tr>
            <td align="left" width="25%" style="background-color: #dddddd; font-weight: bold;">Nama Lengkap</td>
            <td align="left" width="75%">[FULL_NAME]</td>
        </tr>
        <tr>
            <td align="left" width="25%" style="background-color: #dddddd; font-weight: bold;">NIK</td>
            <td align="left" width="75%">[NIK]</td>
        </tr>
        <tr>
            <td align="left" width="25%" style="background-color: #dddddd; font-weight: bold;">Jenis Kelamin</td>
            <td align="left" width="75%">[GENDER]</td>
        </tr>
        <tr>
            <td align="left" width="25%" style="background-color: #dddddd; font-weight: bold;">Tempat, Tanggal Lahir</td>
            <td align="left" width="75%">[BIRTH_PLACE], [BIRTH_DATE]</td>
        </tr>
        <tr>
            <td align="left" width="25%" style="background-color: #dddddd; font-weight: bold;">Alamat</td>
            <td align="left" width="75%">[STREET_ADDRESS]</td>
        </tr>
		<tr>
            <td align="left" width="25%" style="background-color: #dddddd; font-weight: bold;">RT/RW</td>
            <td align="left" width="75%">[RT]/[RW]</td>
        </tr>
		<tr>
            <td align="left" width="25%" style="background-color: #dddddd; font-weight: bold;">Dusun</td>
            <td align="left" width="75%">[SUB_VILLAGE]</td>
        </tr>
		<tr>
            <td align="left" width="25%" style="background-color: #dddddd; font-weight: bold;">Desa/Kelurahan</td>
            <td align="left" width="75%">[VILLAGE]</td>
        </tr>
		<tr>
            <td align="left" width="25%" style="background-color: #dddddd; font-weight: bold;">Kecamatan</td>
            <td align="left" width="75%">[SUB_DISTRICT]</td>
        </tr>
		<tr>
            <td align="left" width="25%" style="background-color: #dddddd; font-weight: bold;">Kabupaten/Kota</td>
            <td align="left" width="75%">[DISTRICT]</td>
        </tr>
		<tr>
            <td align="left" width="25%" style="background-color: #dddddd; font-weight: bold;">Sekolah Asal</td>
            <td align="left" width="75%">[PREV_SCHOOL_NAME]</td>
        </tr>
        <tr>
            <td align="left" width="25%" style="background-color: #dddddd; font-weight: bold;">Nama Ibu Kandung</td>
            <td align="left" width="75%">[MOTHER_NAME]</td>
        </tr>
    </table>
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr><td></td></tr>
	</table>
	<table width="100%" border="1" cellpadding="6" cellspacing="0" style="border: 0.001em solid black;">
        <tr>
            <td colspan="4" style="font-weight: bold; font-size: 14px;" align="left">KONTAK</td>
        </tr>
        <tr>
            <td align="left" width="25%" style="background-color: #dddddd; font-weight: bold;">Nomor Telepon Rumah</td>
            <td align="left" width="25%" style="background-color: #dddddd; font-weight: bold;">Nomor Handphone</td>
            <td align="left" width="50%" style="background-color: #dddddd; font-weight: bold;">Email</td>
        </tr>
        <tr>
            <td align="left">[PHONE]</td>
            <td align="left">[MOBILE_PHONE]</td>
            <td align="left">[EMAIL]</td>
        </tr>
    </table>
	<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr><td></td></tr>
	</table>
    <table width="100%" border="1" cellpadding="6" cellspacing="0" style="border: 0.001em solid black;">
        <tr>
            <td align="center" width="50%">
                Panitia PPDB [ADMISSION_YEAR]
                <br><br><br><br><br><br><br>
                .......................................................................
            </td>
            <td align="center">
                Calon Peserta Didik Baru
                <br><br><br><br><br><br><br>
                [FULL_NAME]
            </td>
        </tr>
    </table>
	<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr><td></td></tr>
	</table>
</body>
</html>