<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PPDB [SCHOOL_NAME]</title>
</head>
<style>
	table { border-collapse: collapse; }
</style>
<body>
	<table width="100%" border="0" cellpadding="3" cellspacing="0">
		<tbody>
			<tr>
				<td width="18%" align="center" valign="top">
					<img src="[LOGO]" width="90px">
				</td>
				<td width="60%" valign="top" align="left" valign="center">
					<br>
					<h1 style="line-height: 5em;">[SCHOOL_NAME]</h1>
					<p>[SCHOOL_STREET_ADDRESS]<br>
					Telp : [SCHOOL_PHONE] &sdot; Fax : [SCHOOL_FAX] &sdot; Kode Pos : [SCHOOL_POSTAL_CODE]<br>
					Email : [SCHOOL_EMAIL] &sdot; Website : [SCHOOL_WEBSITE]</p>
				</td>
                <td width="22%"></td>
			</tr>
		</tbody>
	</table>
	<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr><td></td></tr>
	</table>
    <table width="100%" border="1" cellpadding="8" cellspacing="0" style="border: 0.001em solid black;">
        <tr>
            <td width="50%" valign="center" align="left" style="font-size: 14px; font-weight: bold;">KARTU PESERTA UJIAN TES TULIS<br/>PENERIMAAN PESERTA DIDIK BARU<br/>TAHUN PELAJARAN [ACADEMIC_YEAR]
            </td>
            <td width="50%" align="center"><h1 style="font-size: 40px; font-family: Helvetica, Arial, sans-serif;">[REGISTRATION_NUMBER]</h1></td>
        </tr>
    </table>
	<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr><td></td></tr>
	</table>
    <table width="100%" border="1" cellpadding="6" cellspacing="0" style="border: 0.001em solid black;">
        <tr>
            <td colspan="4" style="font-weight: bold; font-size: 14px;" align="left">DATA REGISTRASI</td>
        </tr>
        <tr>
            <td align="center" width="25%" style="background-color: #dddddd; font-weight: bold;">Nama Peserta</td>
            <td align="center" width="25%" style="background-color: #dddddd; font-weight: bold;">Gelombang Pendaftaran</td>
            <td align="center" width="25%" style="background-color: #dddddd; font-weight: bold;">Jenis Pendaftaran</td>
            <td align="center" width="25%" style="background-color: #dddddd; font-weight: bold;">Jalur Pendaftaran</td>
        </tr>
        <tr>
            <td align="center">[FULL_NAME]</td>
            <td align="center">[ADMISSION_PHASE]</td>
            <td align="center">[IS_TRANSFER]</td>
            <td align="center">[ADMISSION_TYPE]</td>
        </tr>
    </table>
	<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr><td></td></tr>
	</table>
    [MAJORS]
    <table width="100%" border="1" cellpadding="6" cellspacing="0" style="border: 0.001em solid black;">
        <tr>
            <td colspan="4" style="font-weight: bold; font-size: 14px;" align="left">JADWAL UJIAN TES TULIS</td>
        </tr>
        <tr>
            <td align="left" width="25%" style="background-color: #dddddd; font-weight: bold;">Tanggal</td>
            <td align="left" width="25%" style="background-color: #dddddd; font-weight: bold;">Waktu</td>
            <td align="left" width="25%" style="background-color: #dddddd; font-weight: bold;">Mata Pelajaran</td>
            <td align="left" width="25%" style="background-color: #dddddd; font-weight: bold;">Tempat</td>
        </tr>
        [EXAM_SCHEDULES]
    </table>
</body>
</html>